.custom-button {
    padding: 1rem;
    border: 2px solid var(--white);
    margin: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: var(--white);
    color: var(--theme);
    transition: all 0.3s;
  }