/* #18B2DE; */
.header-wrapper {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .gradient {
    position: absolute;
    width: 50%;
    min-width: 400px;
    height: 180px;
    top: -150px;
    background: #18b2de;
    filter: blur(100px);
    z-index: -100;
  }
  
  .links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    width: fit-content;
  }
  
  .links a {
    color: #8ea6bb;
    text-decoration: none;
  }
  
  .links a:hover {
    color: var(--white) !important;
    transition: all 0.2s;
  }