.Pod-episode-name{
    font-size: 1rem;
    font-weight: 600;
   }
    
    .Pod-episode-description{
      word-break: break-all;
      color: rgba(255, 255, 255, 0.5);
    }

    
    .Pod-episode{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
      gap: 3vh;
      color: white;
      border-radius: 20px;
   
    }
    
    .Pod-episode-play-button{
      background-color: transparent;
      color: white;
      border: 2px solid white;
      padding: 0.8rem;
      cursor: pointer;
      border-radius: 5px;
      width:30vw;
    }
  
    .Pod-episode-play-button:hover{
      box-shadow: 0px 0px 10px 7px #7575f6;
    }
  
  @media screen and (min-width:320px) and (max-width:768px) {
    .Pod-episode-description{
      overflow-y: auto;
      height: 10vh;
      word-break: break-all;
      color: rgba(255, 255, 255, 0.5);
  
    }
  }