/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --theme: #20062e;
  --blue: #18b2de;
  --white: #fff;
  --grey: #d7d7d7;
  --purple-grey: #8f8297;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme);
  color: var(--white);
}

input {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
} */
/*
a:hover {
  color: var(--white);
  transition: all 0.3s;
} */

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #20062e;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 7px;
}

/* Track */
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #bdc0ca;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #67b1f1;
}

input {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
} 

/* Podcasts page*/
.Podcasts-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  padding-top: 2rem;
}

.Podcasts-heading {
  color: white;
}

.Podcasts-search:focus {
  outline: 2px solid blueviolet;
  box-shadow: 0px 0px 10px 7px blueviolet;
}

.Podcasts-search:hover {
  outline: 2px solid blueviolet;
  box-shadow: 0px 0px 10px 7px blueviolet;
}

.Podcasts-search {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.9rem;
  font-size: 1rem;
  width: 75vw;
  border-radius: 6px;
  position: sticky;
  top: 4%;
  outline: none;
  color: white;
}

.Podcasts-cards {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  transition: all 0.5s ease-in-out linear;
}

/* Podcast Details page*/
.Pod-Details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  gap: 5vh;
}

.Pod-title {
  color: white;
}
.Pod-title {
  font-size: 2rem;
  font-weight: 700;
}

.Pod-banner {
  padding: 0.6rem;
  background: linear-gradient(
    1deg,
    rgba(58, 129, 191, 0.3) 1.63%,
    rgba(65, 48, 90, 0.009) 148.18%
  );
  border-radius: 15px;
}

.Pod-banner > img {
  object-fit: cover;
  width: 100%;
  height: 55vh;
  border-radius: 15px;
}

.Pod-description {
  width: 100%;
  overflow-y: auto;
  height: 17vh;
  color: rgba(255, 255, 255, 0.5);

  word-break: break-all;
}

.Pod-description::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.Pod-description::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #cac7bd;
}

/* Handle */
.Pod-description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #3397ec;
}

.Pod-title-button-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Pod-create-episode-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 5px;
}

.Pod-create-episode-button:hover {
  box-shadow: 0px 0px 10px 7px #7575f6;
}

.Pod-episodes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;
  justify-content: center;
}

.Episode-heading {
  margin-bottom: 1rem;
}

/* Profile page*/
.Profile > .Profile-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.Profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.Profile-img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  padding: 0.5rem;
  background: linear-gradient(
    177.7deg,
    rgba(58, 129, 191, 0.3) 1.63%,
    rgba(65, 48, 90, 0.009) 148.18%
  );
  border-radius: 100%;
}


.Profile .Button-holder{
  display: flex;
  gap: 2vw;
}

.Profile .Logout-button {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.9rem;
  font-size: 0.9rem;
  border-radius: 6px;
  outline: none;
  color: white;
  cursor: pointer;
}

.Profile .Logout-button:hover {
  box-shadow: 0px 0px 10px 7px #7575f6;
}

.Profile .Edit-profile-button {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.9rem;
  font-size: 0.9rem;
  border-radius: 6px;
  outline: none;
  color: white;
  cursor: pointer;
}
.Profile .Edit-profile-button:hover {
  box-shadow: 0px 0px 10px 7px #7575f6;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .Podcasts-cards {
    gap: 5vw;
  }
}